footer{
    width:auto;
    height:auto;
    background-color: #363636;
    padding: 0 0 30px 25px;
    color: white;
    .h2__footer{
        font-family: "Shrikhand";
        font-weight: 400;
        font-size: 18px;
        line-height: 70px;
        margin:0;
    }
    ul{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        list-style: none;
        padding:0;
        margin:0;
    }
    a{
        color:white;
    }
}

@media (min-width: 992px) {
    footer {
        height:114px;
        padding: 0;
        display: flex;        
        flex-direction: row-reverse;
        justify-content: flex-start;
        .h2__footer{
            margin: 30px 25px 0 80px;
        }
        ul{
            flex-direction: row;
            align-items: center;
            gap:40px;
            li{
                display: block;
                padding-top: 20px;
            }
        }
    }
}