header {
    @include mobile__header;

    img {
        height: 44px;
        max-width: 162px;
    }
}

.home__return{
    position: absolute;
    display: block;
    margin: 15px 335px 23px 23px;
    i{
    width:17px;
    height: 16px;
    }
}

@media (min-width: 992px) {
    header {
        margin-top: 30px;
        margin-bottom: 30px;
        img {
            height: 34px;
            max-width: 200px;
        }
    }
}