.fa-solid.fa-location-dot{
    color: #353535;
    margin: 17px;
}

.fa-solid.fa-mobile-screen-button{
    @include icon_main_page;
    width: 13px;
    height: 20px;
}

.fa-solid.fa-list-ul{
    @include icon_main_page;
    width: 16px;
    height: 16px;
}

.fa-solid.fa-store{
    @include icon_main_page;
    width: 18px;
    height: 18px;
}

.home__page__new{
    position: absolute;
    background-color: #99E2D0;
    color: #008766;
    text-align: center;
    font-size: 14px;
    width:80px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    right: 10px;
    top: 10px;
}