

.header__location{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    color:#353535;
    font-size: 16px;
}

.h2__main__page{
    @include h2_main_page;
}

.main__page__subject{
   background-color: $color-primary;
   padding-top:40px;
   padding-bottom:50px;
   @include flex_column;
   align-items: center;
    .main__page__subtitle{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 10px 30px 30px 30px;
   }
}

.main__page__instructions{
    margin:50px 20px 70px 30px;
    li{
        position: relative;
        display: flex;
        align-items: center;
    }
    .main__page__instructions--number{
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        padding: 3px 8px;
        border-radius: 50%;
        font-size: 16px;
        background-color: #9356DC;
        color:white;
    }
}

.main__page__instructions ul{
    list-style: none;
    font-weight:500;
    font-size:16px;
    padding:0;
    li{
        background-color: $color-primary;
        border-radius: 20px;
        margin-top:25px;
        height:72px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        &:hover{
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            i{
            color: #9356DC;
            }
        }
    }
}

.main__page__restaurant{
    background-color: $color-primary;
    padding:45px 20px 50px 20px;
    .main__page__restaurant__cards{
        width:100%;
        @include flex_column;
    }
    a{
        color:black;
    }
}

.home__page__card{
    box-shadow: 5px 5px 5px #F2F2F2;
    background-color: white;
    border-radius: 15px;
    width:100%;
    height:250px;
    margin-bottom:15px;
    position:relative;
    img{
        width:100%;
        height:180px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
    }
}

.home__page__card__content{
display:flex;
    .home__page__card__txt{
        width:85%;
    }
    .home__page__card__title{
        @include title;
    }
    .home__page__card__subtitle{
        @include subtitle;
    }
}


.card__heart{
    i{
    position:absolute;
    font-size: 24px;
    transition:all 0.6s ease-in-out;
    right: 25px;
    bottom: 25px;
    }
}

.__fullheart{
opacity:0;
background-image: linear-gradient(#FF79DA, #9356DC);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}
:hover.__fullheart{
opacity:1;
}

@media (min-width: 768px) {
}


@media (min-width: 992px) {
    .main__page__subject{
        padding-top: 30px;
        padding-bottom: 30px;
        h1{
            font-size: 40px;
        }
        .main__page__subtitle{
           margin-top: 25px; 
           margin-bottom: 25px;
        }
    }

    .main__page__instructions{
        margin-left: 180px;
        ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 35px;
            li{
                width: 322px;
            }
        } 
    }

    .main__page__restaurant{
        padding-top: 30px;
        .h2__main__page{
            margin-left: 180px;
        }
        .main__page__restaurant__cards{
            margin-left: 180px;
            margin-right: 180px;
            gap:90px;
            width: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

}
