.one {
    animation: slide__menu 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
}
.two {
    animation: slide__menu 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
    animation-delay: 1s;
}
.three {
    animation: slide__menu 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
    animation-delay: 1.5s;
}


.restaurant__page{
    main{
        background:white;
        width:100%;
        & img {
            width: 100%;
            height: 270px;
            object-fit: cover;
        }
        & .menu {
            @include flex_column;
            position: relative;
            background: $color-primary;
            align-items: center;
            row-gap: 40px;
            border-radius: 40px 40px 0px 0px;
            padding: 30px 15px 40px 15px;
            margin-top: -50px;
        }
    }
}

.menu__section{
    width:100%;
    @include flex_column;
    & h2{
        @include h2_menu;
    }
    & hr{
     width:40px;
     margin-left: 0;
     border: 2px solid #99E2D0;
    }
    & .dish__name{
        display: flex;
        height: 70px;
        border-radius: 15px;
        background: #FFFFFF;
        margin-top: 12px;
        position:relative;
        overflow: hidden;
    }
}

.menu__title{
    @include h1_menu;
    margin-left: 5px;
}

.dish__description{
    margin-left: 15px;
    overflow: hidden;
    width:80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    & h3{
        font-style: roboto;
        font-weight:500;
        font-size:18px;
        margin-top: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    & p{
        font-style: roboto;
        font-weight: 300;
        font-size: 15px;
        margin-top: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.dish__name{
    .dish__price{
        text-align: right;
        width: 20%;
        padding: 35px 10px 0 10px;
    }
    &:hover{
        .check{
            width: 60px;
            transform: scaleX(1);
            i{
                display: inline;
            }
        }
    }
}


.check{
    font-size: 20px;
    background-color: #99E2D0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    border-radius: 0 20px 20px 0;
    transform: scaleX(0);
    transition: width 600ms 150ms ease-in-out;
    transform-origin: right;
    i {
        color: #FFF;
        display: none;
    }
}
   

.like__heart{
    display: flex;
    gap: 40px;
    i{
        position:absolute;
        right: 30px;
        font-size: 24px;
        margin-left:300px;
        transition:all 0.6s ease-in-out;
    }
}

.__fullheart{
opacity:0;
background-image: linear-gradient(#FF79DA, #9356DC);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}
:hover.__fullheart{
    opacity:1;
}

@media (min-width: 768px) {
    .menu{
        margin-right: 100px;
        margin-left: 100px;
        .menu__section {
            width: 80%;
        }
    }

    .like__heart{
        i{
            right:100px;
        }
    }
}


@media (min-width: 992px) {
    .menu{
        margin-right: 120px;
        margin-left: 120px;
        .menu__section {
            width: 80%;
        }
    }

    .like__heart{
        i{
            right:150px;
        }
    }

    .btn{
        width:80%;
        margin:0;
        display: flex;
        align-items: center;
    }
}